.call-form__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: url("../img/icon-close.svg") center no-repeat;
  border: none;
  cursor: pointer;
}
