.catalog {
  padding-top: 93px;
  padding-bottom: 127px;
  background-color: #1b2d37;
  color: $color-white;

  @media (max-width: $width-desktop) {
    padding-top: 53px;
    padding-bottom: 78px;
  }

  @media (max-width: $width-tablet) {
    padding-bottom: 63px;
  }
}

.catalog p {
  margin-top: 0;
  margin-bottom: 47px;
  font-family: $font-roboto;

  @include fontMeasure(400, 36px, 51px);

  @media (max-width: $width-desktop) {
    @include fontMeasure(400, 32px, 45px);
  }

  @media (max-width: $width-tablet) {
    padding-left: 9px;
    margin-bottom: 42px;

    @include fontMeasure(400, 28px, 39px);
  }
}

.catalog ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  @include reset-list;

  @media (max-width: $width-desktop) {
    grid-template-columns: 1fr;
    gap: 46px;
  }

  @media (max-width: $width-tablet) {
    gap: 30px;
  }
}

.catalog a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 53px 44px;

  @media (max-width: $width-desktop) {
    padding: 43px 44px;
  }

  @media (max-width: $width-tablet) {
    padding: 21px 35px;
  }
}

.catalog li {
  width: 370px;
  min-height: 620px;

  @media (max-width: 1270px) {
    width: 100%;
  }

  @media (max-width: $width-desktop) {
    min-height: 256px;
  }
}

.catalog__item {
  position: relative;
  z-index: 2;

  &:hover {
    img {
      opacity: 0.8;
    }
  }

  &:active {
    img {
      opacity: 0.9;
    }
  }
}

.catalog__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.catalog h3 {
  max-width: 172px;
  margin: 0;
  color: $color-white;
  font-family: $font-roboto;

  @include fontMeasure(400, 20px, 30px);
}

.catalog__marker {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;
  background-color: $color-main;
}
