.form input:not([type="checkbox"]) {
  width: 100%;
  height: 52px;
  margin-bottom: 31px;
  padding: 14px 24px;
  border: none;
  background-color: rgba($color-white, 0.1);

  &::placeholder {
    color: $color-white;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.9;
  }

  &:focus {
    outline: 1px solid $color-white;
  }
}

.form textarea {
  width: 100%;
  background-color: rgba($color-white, 0.1);
  border: none;
  resize: none;

  &::placeholder {
    color: $color-white;

    @include fontMeasure(400, 16px, 22px);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.9;
  }

  &:focus {
    outline: 1px solid $color-white;
  }
}

.form__check-label {
  position: relative;
  padding-left: 48px;
  display: inline-block;
  vertical-align: baseline;
  align-items: center;
  width: 351px;
  cursor: pointer;

  @include fontMeasure(400, 14px, 16px);
  opacity: 0.8;

  @media (max-width: $width-tablet) {
    width: 245px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.9;
  }

  &:focus {
    &::before {
      border: 1px solid $color-black;
    }
  }
}

.form__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 16px;
  border: 1px solid rgba($color-white, 0.4);
  cursor: pointer;
}

.form input[type="checkbox"]:checked + .form__checkbox {
  background: url("../img/icon-checkbox-arrow.svg") center no-repeat;
}

.form input[type="checkbox"]:focus + .form__checkbox {
  border: 2px solid yellow;
}

.form input[type="checkbox"] {
  margin-top: 14px;
}

.form__bottom {
  display: flex;
  align-items: center;

  @media (max-width: $width-tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}
