.questions {
  min-height: 670px;
  padding-top: 96px;
  padding-bottom: 113px;
  background: url("../img/airplane-bg.png") left 23% top no-repeat, url("../img/questions-arrows.png") right no-repeat;
  background-color: $color-main;
  color: $color-white;

  @media (max-width: 1920px) {
    background: url("../img/airplane-bg.png") left 15% top / 37vw no-repeat, url("../img/questions-arrows.png") right no-repeat;
    background-color: $color-main;
  }

  @media (max-width: $width-desktop) {
    min-height: 664px;
    padding-top: 83px;
    padding-bottom: 103px;
    background: none;
    background-color: $color-main;
  }

  @media (max-width: $width-tablet) {
    min-height: 640px;
    padding-top: 33px;
    padding-bottom: 41px;
  }
}

.questions__form {
  max-width: 581px;
  margin-left: auto;

  @media (max-width: $width-desktop) {
    margin: 0 auto;
  }
}

.questions h2 {
  margin-top: 0;
  margin-bottom: 21px;
  font-family: $font-roboto;

  @include fontMeasure(400, 36px, 51px);

  @media (max-width: $width-desktop) {
    @include fontMeasure(400, 32px, 45px);
  }

  @media (max-width: $width-tablet) {
    @include fontMeasure(400, 28px, 39px);
  }
}

.questions p {
  margin-top: 0;
  margin-bottom: 49px;

  @include fontMeasure(400, 16px, 22px);

  @media (max-width: $width-desktop) {
    margin-bottom: 50px;
  }

  @media (max-width: $width-tablet) {
    margin-bottom: 27px;
  }
}

.questions__form input[type="text"] {
  width: 270px;
  height: 50px;
  margin-right: 31px;
  margin-bottom: 40px;
  padding: 14px 16px;

  @media (max-width: $width-tablet) {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  &:nth-of-type(2n) {
    margin-right: 0;
  }
}

.questions__form textarea {
  min-height: 154px;
  padding: 13px 16px;
  margin-bottom: 43px;

  @media (max-width: $width-tablet) {
    margin-bottom: 30px;
  }
}

.questions__form button {
  width: 270px;
  height: 45px;
  margin-right: 38px;

  @include fontMeasure(700, 14px, 16px);

  @media (max-width: $width-tablet) {
    display: block;
    width: 290px;
    margin-bottom: 30px;
  }
}
