/* Colors */
$color-black: #000000;
$color-white: #ffffff;
$color-main: #00b2ff;
$color-text: #666666;


/* Viewports */
$width-tablet: 767px;
$width-desktop: 1023px;

/* Fonts */
$font-roboto: "Roboto Condensed", "Arial", sans-serif;
$font-pt: "PT Mono", "Arial", sans-serif;
